---
layout: page
title: "Blog"
---
{% include JB/setup %}

<p>My name is <a href="jshum.github.com">Jason Shum</a>. I am a Computer Science concentrator at Brown University. This is my blog. Read more of my writing <a href="archive.html">here</a>. Subscribe <a href="atom.xml">here</a>.</p>

<h2>Recent Posts</h2>
<ul class="posts">
  {% for post in site.posts limit:7 %}
  <li><span>{{ post.date | date: "%b %e, %Y" }}</span> &raquo; <a href="{{ BASE_PATH }}{{ post.url }}">{{ post.title }}</a> &nbsp; {{ post.tldr }}</li>
  {% endfor %}
</ul>

{% for tag in site.tags %} 
{% if tag[0] == 'cs' or tag[0] == 'life' %}
  <h2 id="{{ tag[0] }}-ref">Posts on {{ tag[0] }}</h2>
  <ul>
    {% assign posts_collate= tag[1] %}  
    {% include custom/posts_collate %}
  </ul>
   {% endif %}
{% endfor %}

<ul>
{% assign pages_list = site.pages %}
{% assign group = 'show' %}
{% include JB/pages_list %}
</ul>
